* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

body { background-color: rgba(0,0,0,0); }

.MessageContainer {
	font-size: 19.75px;
	font-weight: bold;
	float: left;
	margin-left: 96.5px;
	margin-top: 60px;
	text-align: center;
}

.alertAnimContainer {
	font-size: 27.5px;
	font-weight: bold;
	color: white;
	float: right;
	margin-right: 90px;
	margin-top: 60px;
	opacity: 0;
	text-align: center;
}

.banner {
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
}

.follower-container, .tipper-container{
	float: left;
	margin-left: 15px;
	height: 100%;
	display: flex;
	align-items: center;
}

.follower, .tipper {
	font-weight: 650;
	font-size: 25px;
	color: white;
}


#alertMaintext, #alertSubtext {
	-webkit-text-stroke-color: #000;
	-webkit-text-stroke-width: 1px;
}


/* Glitchy Text */
.glitch {
	-webkit-text-stroke-color: #000;
	-webkit-text-stroke-width: 1px;
	position: relative;
	color: white;
	font-size: 4em;
	letter-spacing: 0.5em;
	animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	left: 2px;
	text-shadow: -2px 0 #ff00c1;
	clip: rect(44px, 450px, 56px, 0);
	animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	left: -2px;
	text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
	0% {
		clip: rect(47px, 9999px, 52px, 0);
		transform: skew(0.58deg);
	}
	5% {
		clip: rect(14px, 9999px, 88px, 0);
		transform: skew(0.36deg);
	}
	10% {
		clip: rect(9px, 9999px, 84px, 0);
		transform: skew(0.44deg);
	}
	15% {
		clip: rect(66px, 9999px, 93px, 0);
		transform: skew(0.42deg);
	}
	20% {
		clip: rect(28px, 9999px, 70px, 0);
		transform: skew(0.42deg);
	}
	25% {
		clip: rect(10px, 9999px, 59px, 0);
		transform: skew(0.57deg);
	}
	30% {
		clip: rect(45px, 9999px, 15px, 0);
		transform: skew(0.84deg);
	}
	35% {
		clip: rect(30px, 9999px, 35px, 0);
		transform: skew(0.15deg);
	}
	40% {
		clip: rect(48px, 9999px, 81px, 0);
		transform: skew(0.03deg);
	}
	45% {
		clip: rect(45px, 9999px, 94px, 0);
		transform: skew(0.8deg);
	}
	50% {
		clip: rect(55px, 9999px, 9px, 0);
		transform: skew(0.05deg);
	}
	55% {
		clip: rect(56px, 9999px, 17px, 0);
		transform: skew(0.91deg);
	}
	60% {
		clip: rect(78px, 9999px, 44px, 0);
		transform: skew(0.48deg);
	}
	65% {
		clip: rect(60px, 9999px, 36px, 0);
		transform: skew(0.22deg);
	}
	70% {
		clip: rect(10px, 9999px, 56px, 0);
		transform: skew(0.02deg);
	}
	75% {
		clip: rect(20px, 9999px, 40px, 0);
		transform: skew(0.39deg);
	}
	80% {
		clip: rect(91px, 9999px, 4px, 0);
		transform: skew(0.54deg);
	}
	85% {
		clip: rect(86px, 9999px, 84px, 0);
		transform: skew(0.32deg);
	}
	90% {
		clip: rect(56px, 9999px, 42px, 0);
		transform: skew(0.26deg);
	}
	95% {
		clip: rect(48px, 9999px, 88px, 0);
		transform: skew(0.89deg);
	}
	100% {
		clip: rect(59px, 9999px, 38px, 0);
		transform: skew(0.64deg);
	}
}
@keyframes glitch-anim2 {
	0% {
		clip: rect(35px, 9999px, 51px, 0);
		transform: skew(0.36deg);
	}
	5% {
		clip: rect(13px, 9999px, 5px, 0);
		transform: skew(0.39deg);
	}
	10% {
		clip: rect(23px, 9999px, 44px, 0);
		transform: skew(0.15deg);
	}
	15% {
		clip: rect(73px, 9999px, 70px, 0);
		transform: skew(0.18deg);
	}
	20% {
		clip: rect(40px, 9999px, 81px, 0);
		transform: skew(0.36deg);
	}
	25% {
		clip: rect(51px, 9999px, 18px, 0);
		transform: skew(0.12deg);
	}
	30% {
		clip: rect(76px, 9999px, 72px, 0);
		transform: skew(0.35deg);
	}
	35% {
		clip: rect(56px, 9999px, 64px, 0);
		transform: skew(0.56deg);
	}
	40% {
		clip: rect(13px, 9999px, 7px, 0);
		transform: skew(0.03deg);
	}
	45% {
		clip: rect(28px, 9999px, 67px, 0);
		transform: skew(0.44deg);
	}
	50% {
		clip: rect(44px, 9999px, 9px, 0);
		transform: skew(0.89deg);
	}
	55% {
		clip: rect(63px, 9999px, 70px, 0);
		transform: skew(0.93deg);
	}
	60% {
		clip: rect(40px, 9999px, 59px, 0);
		transform: skew(0.92deg);
	}
	65% {
		clip: rect(32px, 9999px, 2px, 0);
		transform: skew(0.77deg);
	}
	70% {
		clip: rect(91px, 9999px, 24px, 0);
		transform: skew(0.08deg);
	}
	75% {
		clip: rect(14px, 9999px, 2px, 0);
		transform: skew(0.13deg);
	}
	80% {
		clip: rect(95px, 9999px, 70px, 0);
		transform: skew(0.74deg);
	}
	85% {
		clip: rect(21px, 9999px, 3px, 0);
		transform: skew(0.23deg);
	}
	90% {
		clip: rect(44px, 9999px, 16px, 0);
		transform: skew(0.39deg);
	}
	95% {
		clip: rect(44px, 9999px, 26px, 0);
		transform: skew(0.03deg);
	}
	100% {
		clip: rect(90px, 9999px, 22px, 0);
		transform: skew(0.95deg);
	}
}
@keyframes glitch-skew {
	0% {
		transform: skew(-4deg);
	}
	10% {
		transform: skew(1deg);
	}
	20% {
		transform: skew(4deg);
	}
	30% {
		transform: skew(5deg);
	}
	40% {
		transform: skew(2deg);
	}
	50% {
		transform: skew(-1deg);
	}
	60% {
		transform: skew(3deg);
	}
	70% {
		transform: skew(-2deg);
	}
	80% {
		transform: skew(3deg);
	}
	90% {
		transform: skew(5deg);
	}
	100% {
		transform: skew(5deg);
	}
}
